.teamLogo {
  background-image: url("../images/NHL-Logo_sprite.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: 3264px 96px;
  height: 96px;
  width: 96px;
}

.teamLogo.nhl {
  background-position: 0px 0px;
}

.teamLogo.nhl.sm {
  background-position: 0px 0px;
}

.teamLogo.nhl.lg {
  background-position: 0px 0px;
}

.teamLogo.eastern {
  background-position: -96px 0px;
}

.teamLogo.eastern.sm {
  background-position: -48px 0px;
}

.teamLogo.eastern.lg {
  background-position: -144px 0px;
}

.teamLogo.western {
  background-position: -192px 0px;
}

.teamLogo.western.sm {
  background-position: -96px 0px;
}

.teamLogo.western.lg {
  background-position: -288px 0px;
}

.teamLogo.sm {
  background-size: 1632px 48px;
  height: 48px;
  width: 48px;
}

.teamLogo.lg {
  background-size: 4896px 144px;
  height: 144px;
  width: 144px;
}

.teamColors {
  height: 6px;
  background-color: #000;
}

.teamColors span {
  background: #333333;
  width: 35%;
  height: 6px;
  display: block;
}

.teamColors.eastern {
  background-color: #c41230;
}

.teamColors.eastern span {
  background-color: #ef4d69;
}

.teamColors.western {
  background-color: #003e7e;
}

.teamColors.western span {
  background-color: #0070e4;
}

.islanders.teamColors {
  background-color: #00539b;
}

.islanders.teamColors span {
  background-color: #f47d30;
}

.islanders.teamLogo {
  background-position: -288px 0px;
}

.islanders.teamLogo.sm {
  background-position: -144px 0px;
}

.islanders.teamLogo.lg {
  background-position: -432px 0px;
}

.jets.teamColors {
  background-color: #041e41;
}

.jets.teamColors span {
  background-color: #0060a5;
}

.jets.teamLogo {
  background-position: -384px 0px;
}

.jets.teamLogo.sm {
  background-position: -192px 0px;
}

.jets.teamLogo.lg {
  background-position: -576px 0px;
}

.ducks.teamColors {
  background-color: #111111;
}

.ducks.teamColors span {
  background-color: #b5985a;
}

.ducks.teamLogo {
  background-position: -480px 0px;
}

.ducks.teamLogo.sm {
  background-position: -240px 0px;
}

.ducks.teamLogo.lg {
  background-position: -720px 0px;
}

.rangers.teamColors {
  background-color: #0038a8;
}

.rangers.teamColors span {
  background-color: #ce1126;
}

.rangers.teamLogo {
  background-position: -576px 0px;
}

.rangers.teamLogo.sm {
  background-position: -288px 0px;
}

.rangers.teamLogo.lg {
  background-position: -864px 0px;
}

.canadiens.teamColors {
  background-color: #af1e2d;
}

.canadiens.teamColors span {
  background-color: #192168;
}

.canadiens.teamLogo {
  background-position: -672px 0px;
}

.canadiens.teamLogo.sm {
  background-position: -336px 0px;
}

.canadiens.teamLogo.lg {
  background-position: -1008px 0px;
}

.kings.teamColors {
  background-color: #acaea9;
}

.kings.teamColors span {
  background-color: #111111;
}

.kings.teamLogo {
  background-position: -768px 0px;
}

.kings.teamLogo.sm {
  background-position: -384px 0px;
}

.kings.teamLogo.lg {
  background-position: -1152px 0px;
}

.senators.teamColors {
  background-color: #ce1126;
}

.senators.teamColors span {
  background-color: #bf910c;
}

.senators.teamLogo {
  background-position: -864px 0px;
}

.senators.teamLogo.sm {
  background-position: -432px 0px;
}

.senators.teamLogo.lg {
  background-position: -1296px 0px;
}

.lightning.teamColors {
  background-color: #00205b;
}

.lightning.teamColors span {
  background-color: #d8d8d8;
}

.lightning.teamLogo {
  background-position: -960px 0px;
}

.lightning.teamLogo.sm {
  background-position: -480px 0px;
}

.lightning.teamLogo.lg {
  background-position: -1440px 0px;
}

.penguins.teamColors {
  background-color: #000;
}

.penguins.teamColors span {
  background-color: #fcb514;
}

.penguins.teamLogo {
  background-position: -1056px 0px;
}

.penguins.teamLogo.sm {
  background-position: -528px 0px;
}

.penguins.teamLogo.lg {
  background-position: -1584px 0px;
}

.canucks.teamColors {
  background-color: #001f5b;
}

.canucks.teamColors span {
  background-color: #008852;
}

.canucks.teamLogo {
  background-position: -1152px 0px;
}

.canucks.teamLogo.sm {
  background-position: -576px 0px;
}

.canucks.teamLogo.lg {
  background-position: -1728px 0px;
}

.panthers.teamColors {
  background-color: #c8102e;
}

.panthers.teamColors span {
  background-color: #041e42;
}

.panthers.teamLogo {
  background-position: -1248px 0px;
}

.panthers.teamLogo.sm {
  background-position: -624px 0px;
}

.panthers.teamLogo.lg {
  background-position: -1872px 0px;
}

.stars.teamColors {
  background-color: #006847;
}

.stars.teamColors span {
  background-color: #111111;
}

.stars.teamLogo {
  background-position: -1344px 0px;
}

.stars.teamLogo.sm {
  background-position: -672px 0px;
}

.stars.teamLogo.lg {
  background-position: -2016px 0px;
}

.wild.teamColors {
  background-color: #af1e24;
}

.wild.teamColors span {
  background-color: #024930;
}

.wild.teamLogo {
  background-position: -1440px 0px;
}

.wild.teamLogo.sm {
  background-position: -720px 0px;
}

.wild.teamLogo.lg {
  background-position: -2160px 0px;
}

.avalanche.teamColors {
  background-color: #6f263d;
}

.avalanche.teamColors span {
  background-color: #236192;
}

.avalanche.teamLogo {
  background-position: -1536px 0px;
}

.avalanche.teamLogo.sm {
  background-position: -768px 0px;
}

.avalanche.teamLogo.lg {
  background-position: -2304px 0px;
}

.maple-leafs.teamColors {
  background-color: #003e7e;
}

.maple-leafs.teamColors span {
  background-color: #dadada;
}

.maple-leafs.teamLogo {
  background-position: -1632px 0px;
}

.maple-leafs.teamLogo.sm {
  background-position: -816px 0px;
}

.maple-leafs.teamLogo.lg {
  background-position: -2448px 0px;
}

.flames.teamColors {
  background-color: #ce1126;
}

.flames.teamColors span {
  background-color: #f3bc52;
}

.flames.teamLogo {
  background-position: -1728px 0px;
}

.flames.teamLogo.sm {
  background-position: -864px 0px;
}

.flames.teamLogo.lg {
  background-position: -2592px 0px;
}

.flyers.teamColors {
  background-color: #f74902;
}

.flyers.teamColors span {
  background-color: #000;
}

.flyers.teamLogo {
  background-position: -1824px 0px;
}

.flyers.teamLogo.sm {
  background-position: -912px 0px;
}

.flyers.teamLogo.lg {
  background-position: -2736px 0px;
}

.capitals.teamColors {
  background-color: #cf0a2c;
}

.capitals.teamColors span {
  background-color: #041e41;
}

.capitals.teamLogo {
  background-position: -1920px 0px;
}

.capitals.teamLogo.sm {
  background-position: -960px 0px;
}

.capitals.teamLogo.lg {
  background-position: -2880px 0px;
}

.blackhawks.teamColors {
  background-color: #ce1126;
}

.blackhawks.teamColors span {
  background-color: #000;
}

.blackhawks.teamLogo {
  background-position: -2016px 0px;
}

.blackhawks.teamLogo.sm {
  background-position: -1008px 0px;
}

.blackhawks.teamLogo.lg {
  background-position: -3024px 0px;
}

.predators.teamColors {
  background-color: #ffb81c;
}

.predators.teamColors span {
  background-color: #041e42;
}

.predators.teamLogo {
  background-position: -2112px 0px;
}

.predators.teamLogo.sm {
  background-position: -1056px 0px;
}

.predators.teamLogo.lg {
  background-position: -3168px 0px;
}

.bruins.teamColors {
  background-color: #111111;
}

.bruins.teamColors span {
  background-color: #fcb514;
}

.bruins.teamLogo {
  background-position: -2208px 0px;
}

.bruins.teamLogo.sm {
  background-position: -1104px 0px;
}

.bruins.teamLogo.lg {
  background-position: -3312px 0px;
}

.sabres.teamColors {
  background-color: #002654;
}

.sabres.teamColors span {
  background-color: #fcb514;
}

.sabres.teamLogo {
  background-position: -2304px 0px;
}

.sabres.teamLogo.sm {
  background-position: -1152px 0px;
}

.sabres.teamLogo.lg {
  background-position: -3456px 0px;
}

.red-wings.teamColors {
  background-color: #ce1126;
}

.red-wings.teamColors span {
  background-color: #e4e4e4;
}

.red-wings.teamLogo {
  background-position: -2400px 0px;
}

.red-wings.teamLogo.sm {
  background-position: -1200px 0px;
}

.red-wings.teamLogo.lg {
  background-position: -3600px 0px;
}

.hurricanes.teamColors {
  background-color: #cc0000;
}

.hurricanes.teamColors span {
  background-color: #000;
}

.hurricanes.teamLogo {
  background-position: -2496px 0px;
}

.hurricanes.teamLogo.sm {
  background-position: -1248px 0px;
}

.hurricanes.teamLogo.lg {
  background-position: -3744px 0px;
}

.blue-jackets.teamColors {
  background-color: #002654;
}

.blue-jackets.teamColors span {
  background-color: #ce1126;
}

.blue-jackets.teamLogo {
  background-position: -2592px 0px;
}

.blue-jackets.teamLogo.sm {
  background-position: -1296px 0px;
}

.blue-jackets.teamLogo.lg {
  background-position: -3888px 0px;
}

.devils.teamColors {
  background-color: #ce1126;
}

.devils.teamColors span {
  background-color: #000;
}

.devils.teamLogo {
  background-position: -2688px 0px;
}

.devils.teamLogo.sm {
  background-position: -1344px 0px;
}

.devils.teamLogo.lg {
  background-position: -4032px 0px;
}

.blues.teamColors {
  background-color: #002f87;
}

.blues.teamColors span {
  background-color: #fcb514;
}

.blues.teamLogo {
  background-position: -2784px 0px;
}

.blues.teamLogo.sm {
  background-position: -1392px 0px;
}

.blues.teamLogo.lg {
  background-position: -4176px 0px;
}

.coyotes.teamColors {
  background-color: #8c2633;
}

.coyotes.teamColors span {
  background-color: #e2d6b5;
}

.coyotes.teamLogo {
  background-position: -2880px 0px;
}

.coyotes.teamLogo.sm {
  background-position: -1440px 0px;
}

.coyotes.teamLogo.lg {
  background-position: -4320px 0px;
}

.oilers.teamColors {
  background-color: #ff4c00;
}

.oilers.teamColors span {
  background-color: #041e41;
}

.oilers.teamLogo {
  background-position: -2976px 0px;
}

.oilers.teamLogo.sm {
  background-position: -1488px 0px;
}

.oilers.teamLogo.lg {
  background-position: -4464px 0px;
}

.sharks.teamColors {
  background-color: #006d75;
}

.sharks.teamColors span {
  background-color: #ea7200;
}

.sharks.teamLogo {
  background-position: -3072px 0px;
}

.sharks.teamLogo.sm {
  background-position: -1536px 0px;
}

.sharks.teamLogo.lg {
  background-position: -4608px 0px;
}

.golden-knights.teamColors {
  background-color: #333f42;
}

.golden-knights.teamColors span {
  background-color: #b4975a;
}

.golden-knights.teamLogo {
  background-position: -3168px 0px;
}

.golden-knights.teamLogo.sm {
  background-position: -1584px 0px;
}

.golden-knights.teamLogo.lg {
  background-position: -4752px 0px;
}
